<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Wesnoth</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>appicon/Icon-App-20x20@1x.png</string>
		<string>appicon/Icon-App-20x20@2x.png</string>
		<string>appicon/Icon-App-20x20@3x.png</string>
		<string>appicon/Icon-App-29x29@1x.png</string>
		<string>appicon/Icon-App-29x29@2x.png</string>
		<string>appicon/Icon-App-29x29@3x.png</string>
		<string>appicon/Icon-App-40x40@1x.png</string>
		<string>appicon/Icon-App-40x40@2x.png</string>
		<string>appicon/Icon-App-40x40@3x.png</string>
		<string>appicon/Icon-App-57x57@1x.png</string>
		<string>appicon/Icon-App-57x57@2x.png</string>
		<string>appicon/Icon-App-60x60@1x.png</string>
		<string>appicon/Icon-App-60x60@2x.png</string>
		<string>appicon/Icon-App-60x60@3x.png</string>
		<string>appicon/Icon-App-72x72@1x.png</string>
		<string>appicon/Icon-App-72x72@2x.png</string>
		<string>appicon/Icon-App-76x76@1x.png</string>
		<string>appicon/Icon-App-76x76@2x.png</string>
		<string>appicon/Icon-App-76x76@3x.png</string>
		<string>appicon/Icon-App-83.5x83.5@2x.png</string>
		<string>appicon/Icon-Small-50x50@1x.png</string>
		<string>appicon/Icon-Small-50x50@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>appicon/Icon-App-20x20@1x.png</string>
				<string>appicon/Icon-App-20x20@2x.png</string>
				<string>appicon/Icon-App-20x20@3x.png</string>
				<string>appicon/Icon-App-29x29@1x.png</string>
				<string>appicon/Icon-App-29x29@2x.png</string>
				<string>appicon/Icon-App-29x29@3x.png</string>
				<string>appicon/Icon-App-40x40@1x.png</string>
				<string>appicon/Icon-App-40x40@2x.png</string>
				<string>appicon/Icon-App-40x40@3x.png</string>
				<string>appicon/Icon-App-57x57@1x.png</string>
				<string>appicon/Icon-App-57x57@2x.png</string>
				<string>appicon/Icon-App-60x60@1x.png</string>
				<string>appicon/Icon-App-60x60@2x.png</string>
				<string>appicon/Icon-App-60x60@3x.png</string>
				<string>appicon/Icon-App-72x72@1x.png</string>
				<string>appicon/Icon-App-72x72@2x.png</string>
				<string>appicon/Icon-App-76x76@1x.png</string>
				<string>appicon/Icon-App-76x76@2x.png</string>
				<string>appicon/Icon-App-76x76@3x.png</string>
				<string>appicon/Icon-App-83.5x83.5@2x.png</string>
				<string>appicon/Icon-Small-50x50@1x.png</string>
				<string>appicon/Icon-Small-50x50@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationLandscapeRight</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
