<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Wesnoth</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>wesnoth-logo-1024.png</string>
		<string>wesnoth-logo-120.png</string>
		<string>wesnoth-logo-152.png</string>
		<string>wesnoth-logo-167.png</string>
		<string>wesnoth-logo-180.png</string>
		<string>wesnoth-logo-40.png</string>
		<string>wesnoth-logo-58.png</string>
		<string>wesnoth-logo-60.png</string>
		<string>wesnoth-logo-80.png</string>
		<string>wesnoth-logo-87.png</string>
		<string>wesnoth-logo-76.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>wesnoth-logo-1024.png</string>
				<string>wesnoth-logo-120.png</string>
				<string>wesnoth-logo-152.png</string>
				<string>wesnoth-logo-167.png</string>
				<string>wesnoth-logo-180.png</string>
				<string>wesnoth-logo-40.png</string>
				<string>wesnoth-logo-58.png</string>
				<string>wesnoth-logo-60.png</string>
				<string>wesnoth-logo-80.png</string>
				<string>wesnoth-logo-87.png</string>
				<string>wesnoth-logo-76.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationLandscapeRight</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
